@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}
.btn{
        width: 135px;
        height: 135px;
        border-radius: 5px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        }
.linha{
        display: block;
        position: relative;
        width: 125px;
        height: 6px;
        margin: 10px auto;
        background-color: #ccccccb8;
        transform-origin: center;
        transition:.07s;
        }
 /* Interacao com Js */
.btn.burguer:focus{
            border: 2px solid aquamarine;
            box-shadow: 0px 0px 3px 0px aqua;

        }
.btn.burguer .linha:nth-child(1){
            transform: translateY(3px) rotate(-45deg);
            background-color: aquamarine;
        }
.btn.burguer .linha:nth-child(2){ display: none; }
.btn.burguer .linha:nth-child(3){
            transform: translateY(-11px) rotate(45deg);
            background-color: aquamarine;
        }