@charset "UTF-8";

@media screen and (min-width: 650px) and (max-width:992px) {
  .container{
    min-width: 630px;
    height: 410px;
  }
  main{
    margin: 0;
    align-items: center;
  }
  .login-i{
    width: 35%;
    height:100%;
    float: left;
    background-position: top right;
  }
  .login-ii{
    width: 65%; 
    height: 100%;
    float: right;
}
}
@media screen and (min-width: 993px){
    .container{
    height: 410px;
    min-width: 830px;
  }
  main{
    margin: 0;
    align-items: center;
  }
  .login-i{
    width: 45%;
    height: 100%;
    float: right;
  }
  .login-ii{
    float: left;
    width: 55%; 
    height: 100%;
}
}
