@charset "UTF-8";

@media screen and (min-width: 650px) and (max-width:992px) {
  .container{
    min-width: 630px;
  }
  .login-i{
    height: 100%;
  }
  .login-ii{
    width: 65%; 
    height: 100%;
    float: right;
}
}
@media screen and (min-width: 993px){
    .container{
    min-width: 830px;
  }
  .login-i{
    float: right;
    height: 100%;
  }
  .login-ii{
    width: 55%; 
    height: 100%;
}
}
