@charset "UTF-8";
:root{
    --body: teal;
    --form:  rgb(81, 155, 246);
    --label: #6b6a6a;
    --color-txt: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    background-color: var(--body);
}main{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}.container{
    position: relative;
    width: 320px;
    border-radius: 5px;
    box-shadow:  2px 2px 20px rgba(255, 255, 255, 0.329);
    background-color: var(--form);
}
.login-img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.txt{
    text-align: center;
    padding: 10px;
    color: white;
}.login{ 
    margin-bottom:1em;
    font-size: 1.8rem;
}
.login-ii{
    padding: 10px;
    text-align: center;
}
.input{
    padding: 10px;
    padding-top: 2.2em;
    font-size: .9em;
}.box{
    height: 2.6em;
    width: 100%;
    margin-bottom: .3em;
    border: none;
    border-radius: 5px;
}.label{
    position: absolute;
    left: 1.2em;
    padding: 3px;
    font-size: 13px;
    color:var(--label);
    transform: translateY(.3rem);
}.entrar{
    margin: 2em auto 0;
    width: 50%;
}.submit{
    background-color: var(--body);
    border-radius: 5px;
    color: var(--color-txt);
}.nova-senha{
    color: var(--color-txt);
    margin: 1em 0;
    font-size: .9em;
}
/* formulario */
.input:focus{
    outline: 2px solid var(--body);
}
.input:focus ~ .label, .input:valid ~ .label{ 
    transform: scale(1);
    }
